Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [67]:
l = []
for i in range(1999,3201):
    if (i%7==0) and (i%5==0):
        l.append(str(i))
print(l)

['2030', '2065', '2100', '2135', '2170', '2205', '2240', '2275', '2310', '2345', '2380', '2415', '2450', '2485', '2520', '2555', '2590', '2625', '2660', '2695', '2730', '2765', '2800', '2835', '2870', '2905', '2940', '2975', '3010', '3045', '3080', '3115', '3150', '3185']

Write a Python program to accept the user's first and last name and then getting them printed in
the reverse order with a space between first name and last name.

In [35]:
firstname = input("Enter First Name: ")
Secondname = input("Enter Second Name: ")
print(Secondname + " " + firstname)

Enter First Name: Sharath
Enter Second Name: chandra
chandra Sharath

Write a Python program to find the volume of a sphere with diameter 12 cm.

In [40]:
d = 12
r = d/2
π = 3.14
V = 4/3 * π * r**3
V

904.3199999999999

Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [6]:
numbers = input("Enter numbers:")
l = numbers.split(",")
print('list of submitted numbers are', l)

Enter numbers:2,5,7,9,0
list of submitted numbers are ['2', '5', '7', '9', '0']

Create the below pattern using nested for loop in Python.

In [45]:
n = 5
List = [] 
for i in range(1,n+1):
   List.append("*"*i)
print("\n".join(List)) 

for i in range(n-1,0,-1):
    print("*"*i)

*
**
***
****
*****
****
***
**
*

Write a Python program to reverse a word after accepting the input from the user.

In [51]:
word = input("Enter word:")
Reverse = word[::-1]
Reverse

Enter word:Sharath chandra

'ardnahc htarahS'

Write a Python Program to print the given string in the format specified in the sample output.

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [65]:
print("WE, THE PEOPLE OF INDIA,\n\t having solemnly resolved to constitute India into a SOVEREIGN,!\n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,!
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
			 and to secure to all its citizens